# bot
discord.py[speed]==2.7.1
discord-py-paginators==0.3.0
aiohttp==3.14.1
# database
SQLAlchemy[asyncio]==2.0.51
asyncpg==0.31.0
ring==0.10.1
# aliases
regex==2026.6.28
# translations
i18nice[YAML]==0.16.0
