# bot
discord.py[speed]==2.7.1
discord-py-paginators==0.3.0
aiohttp==3.13.5
# database
SQLAlchemy[asyncio]==2.0.50
asyncpg==0.31.0
ring==0.10.1
# aliases
regex==2026.5.9
# translations
i18nice[YAML]==0.16.0
